// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

body {
    font: $font-size-base $font-family-sans-serif !important;
    color: $gray-base;
    background-color: $body-bg;
    &.home {
        background: url('../public/img/home-bg.jpg') no-repeat fixed top center;
    }
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 1px 5px #444444;
    height: $navbar-height * 4;
    &.home {
        height: $navbar-height * 2;
    }
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $navbar-height;
    margin-bottom: $navbar-margin-bottom;
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
    color: $navbar-default-color;
    background: $navbar-default-bg;
    a {
        display: inline-block;
        top: 0;
        bottom: 0;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        color: #fff;
        &:hover {
            background-color: #4544cb;
        }
    }
    ul {
        margin: 0;
        li {
            padding: $padding-base-vertical $padding-base-horizontal;
        }
    }
}

ul li {
    list-style-type: none;
}

.navbar-right {
    position: absolute;
    top: $font-size-base / 2;
    right: $font-size-h2;
    .btn {
        margin-right: $padding-large-horizontal;
        color: $btn-default-color;
        background: $btn-default-bg;
        border: 1px solid $btn-default-border;
        &:hover {
            color: $btn-default-bg;
            background-color: white;
            cursor: pointer;
        }
    }
}

.footer a {
    color: #454545;
}

#disclaimer {
    width: 100%;
    font-size: $font-size-h3;
    font-weight: bold;
    color: #ff0000;
    position: absolute;
    top: $navbar-height;
    padding: $padding-base-vertical $padding-base-horizontal;
}

#wrapper {
    width: 85%;
    top: 4em;
    margin-left: auto;
    margin-right: auto;

}

#search-wrapper {
    position: absolute;
    left: 30%;
    top: 125px;
    margin: 0 0 0 -305px;
    width: 80%;
}

#search-wrapper.home {
    left: 50%;
    top: 165px;
    margin: 0 0 0 -305px;
    width: 610px;
}

#lede {
    margin-bottom: $form-group-margin-bottom;
    h1 {
        font-size: $font-size-h1;
        color: #fff;
        text-align: center;
    }
}

#search {
    margin-left: auto;
    margin-right: auto;
}

#search input[type=text] {
    padding: 0.5em;
    font-size: 1.5em;
    min-width: 20em;
    width: 80%;
}

#search input[type=submit] {
    padding: 0.5em;
    font-size: 1.5em;
    margin-left: $form-group-margin-bottom;
    /*
    color: $btn-default-color;
    background-color: $btn-default-bg;
    border: 2px solid $btn-default-border;
    &:hover {
            color: $btn-default-bg;
            background-color: white;
            cursor: pointer;
            border: 1px solid $btn-default-border;
    }*/
}

#results-wrapper {
    position: absolute;
    top: $navbar-height * 5;
    width: 67%;
}

#dashboard-wrapper {
    position: absolute;
    top: $navbar-height * 5;
    width: 85%;
}

#listing-wrapper {
    position: absolute;
    left: 7%;
    top: 225px;
    height: 85%;
    width: 8%;
}


#page-title {
    font-size: 24pt;
    padding: 2%;
    height: 80px;
    position: absolute;
    text-align: center;
    top: $navbar-height*2;
    width: 100%;
}

.listing{
    display: block;
    height: $navbar-height * 5;
    position: relative;
    clear: both;
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: $form-group-margin-bottom;
    width: 100%;
    background: #fff;
    padding: $padding-base-vertical $padding-base-horizontal;
    @include box-shadow(10px 10px 10px $gray-lighter);
    &-heading {
        font-size: $font-size-h3;
        font-weight: bold;
        height: $navbar-height;
        line-height: $navbar-height;
        clear: both;
        border-bottom: 1px solid $gray-light;
        margin-bottom: $form-group-margin-bottom;
        &-left {
            position: relative;
            float: left;
            clear: left;
        }
        &-right {
            position: relative;
            float: right;
            clear: right;
        }
    }

    &-details {
        position: relative;
        &-left {
            clear: left;
            float: left;
        }
        &-right {
            clear: right;
            float: left;
            margin-left: $padding-large-horizontal;
        }
    }

    .rent {
        color: #4cae4c;
    }
}
.add-listing{
    font-size: 1.4em;
    display: block;
    height: $navbar-height * 17;
    position: relative;
    clear: both;
    top: $navbar-height * 4;
    border-bottom: 1px solid $gray-lighter;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    padding-left: 5%;
    width: 94%;
    background: #fff;
    @include box-shadow(10px 10px 10px $gray-lighter);

    & textarea {
        width: 97%;
    }

    & label {
        width: 10.3%;
    }

    & input[type=text], input[type=number] {
        min-width: 10em;
        width: 21.6%;
        margin-right: 3%;
    }

    & input[type=date] {
        margin-right: 3.2%;
        width: 13.4%;
        font-size: .87em;
    }

    & #dates {
        width: 7.6%;
    }

    & text {
        display: inline-block;
        width: 24.6%;
        color: green;
        visibility: hidden;
    }
}

.edit-listing{
    font-size: 1.4em;
    display: block;
    height: $navbar-height * 5;
    position: relative;
    clear: both;
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: $form-group-margin-bottom;
    width: 100%;
    background: #fff;
    padding: $padding-base-vertical $padding-base-horizontal;
    @include box-shadow(10px 10px 10px $gray-lighter);
    &-heading {
        font-size: $font-size-h4;
        font-weight: bold;
        height: $navbar-height;
        line-height: $navbar-height;
        clear: both;
        border-bottom: 1px solid $gray-light;
        margin-bottom: $form-group-margin-bottom;
        &-left {
            position: relative;
            float: left;
            clear: left;
            width: 80%;
        }
        &-right {
            position: relative;
            float: right;
            clear: right;
            width: 16%;
        }
    }

    &-details {
        position: relative;
        &-left {
            clear: left;
            float: left;
            image {
                float: left;
            }
        }
        &-right {
            clear: right;
            float: right;
            margin-left: $padding-large-horizontal;


        }
    }

    textarea {
        width: 50%;
        height: 110pt;
        font-size: .8em;
    }

    .address, input[type=text], input[type=number] {
        width: 23%;
        height: 55%;
        margin-right: 1%;
    }

    .addressSmall {
        width: 9%;
        height: 55%;
        margin-right: 1%;
    }

    .rent {
        width: 90%;
        height: 55%;
        color: #4cae4c;
    }

}

.bedrooms, .baths {
    font-size: $font-size-h4;
    font-weight: bold;
}
