// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    font: $font-size-base $font-family-sans-serif !important;
    color: $gray-base;
    background-color: $body-bg;
    &.home {
        background: url('../public/img/home-bg.jpg') no-repeat fixed top center;
    }
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0px 1px 5px #444444;
    height: $navbar-height * 4;
    &.home {
        height: $navbar-height * 2;
    }
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $navbar-height;
    margin-bottom: $navbar-margin-bottom;
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
    color: $navbar-default-color;
    background: $navbar-default-bg;
    a {
        display: inline-block;
        top: 0;
        bottom: 0;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        color: #fff;
        &:hover {
            background-color: #4544cb;
        }
    }
    ul {
        margin: 0;
        li {
            padding: $padding-base-vertical $padding-base-horizontal;
        }
    }
}

ul li {
    list-style-type: none;
}

.navbar-right {
    position: absolute;
    top: $font-size-base / 2;
    right: $font-size-h2;
    .btn {
        margin-right: $padding-large-horizontal;
        color: $btn-default-color;
        background: $btn-default-bg;
        border: 1px solid $btn-default-border;
        &:hover {
            color: $btn-default-bg;
            background-color: white;
            cursor: pointer;
        }
    }
}

.footer a {
    color: #454545;
}

#disclaimer {
    width: 100%;
    font-size: $font-size-h3;
    font-weight: bold;
    color: #ff0000;
    position: absolute;
    top: $navbar-height;
    padding: $padding-base-vertical $padding-base-horizontal;
}

#wrapper {
    width: 85%;
    top: 4em;
    margin-left: auto;
    margin-right: auto;

}

#search-wrapper {
    position: absolute;
    left: 30%;
    top: 125px;
    margin: 0 0 0 -305px;
    width: 80%;
}

#search-wrapper.home {
    left: 50%;
    top: 165px;
    margin: 0 0 0 -305px;
    width: 610px;
}

#lede {
    margin-bottom: $form-group-margin-bottom;
    h1 {
        font-size: $font-size-h1;
        color: #fff;
        text-align: center;
    }
}

#search {
    margin-left: auto;
    margin-right: auto;
}

#search input[type=text] {
    padding: 0.5em;
    font-size: 1.5em;
    min-width: 20em;
    width: 80%;
}

#search input[type=submit] {
    padding: 0.5em;
    font-size: 1.5em;
    margin-left: $form-group-margin-bottom;
    /*
    color: $btn-default-color;
    background-color: $btn-default-bg;
    border: 2px solid $btn-default-border;
    &:hover {
            color: $btn-default-bg;
            background-color: white;
            cursor: pointer;
            border: 1px solid $btn-default-border;
    }*/
}

#results-wrapper {
    position: absolute;
    top: $navbar-height * 5;
    width: 67%;
}

#dashboard-wrapper {
    position: absolute;
    top: $navbar-height * 5;
    width: 85%;
}

#listing-wrapper {
    position: absolute;
    left: 7%;
    top: 225px;
    height: 85%;
    width: 8%;
}


#page-title {
    font-size: 24pt;
    padding: 2%;
    height: 80px;
    position: absolute;
    text-align: center;
    top: $navbar-height*2;
    width: 100%;
}

.listing{
    display: block;
    height: $navbar-height * 5;
    position: relative;
    clear: both;
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: $form-group-margin-bottom;
    width: 100%;
    background: #fff;
    padding: $padding-base-vertical $padding-base-horizontal;
    @include box-shadow(10px 10px 10px $gray-lighter);
    &-heading {
        font-size: $font-size-h3;
        font-weight: bold;
        height: $navbar-height;
        line-height: $navbar-height;
        clear: both;
        border-bottom: 1px solid $gray-light;
        margin-bottom: $form-group-margin-bottom;
        &-left {
            position: relative;
            float: left;
            clear: left;
        }
        &-right {
            position: relative;
            float: right;
            clear: right;
        }
    }

    &-details {
        position: relative;
        &-left {
            clear: left;
            float: left;
        }
        &-right {
            clear: right;
            float: left;
            margin-left: $padding-large-horizontal;
        }
    }

    .rent {
        color: #4cae4c;
    }
}
.add-listing{
    font-size: 1.4em;
    display: block;
    height: $navbar-height * 17;
    position: relative;
    clear: both;
    top: $navbar-height * 4;
    border-bottom: 1px solid $gray-lighter;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 3%;
    padding-left: 5%;

    width: 94%;
    background: #fff;
    @include box-shadow(10px 10px 10px $gray-lighter);

    & textarea {
        width: 97%;
    }

    & label {
        width: 10.3%;
    }

    & input[type=text], input[type=number], input[type=date] {
        min-width: 10em;
        margin-right: 3%;
        font-size: 19px;
    }

    & #dates {
        width: 7.6%;
    }

    & text {
        display: inline-block;
        width: 24.6%;
        color: green;
        visibility: hidden;
    }

    .form-group{
        display: inline-block;
        width: 24%;
    }

    .input-group{
        font-size: 19px;
    }
}

.edit-listing{
    font-size: 1.4em;
    display: block;
    height: $navbar-height * 7;
    position: relative;
    clear: both;
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: $form-group-margin-bottom;
    width: 100%;
    background: #fff;
    padding: $padding-base-vertical $padding-base-horizontal;
    @include box-shadow(10px 10px 10px $gray-lighter);

    .input-group{
        font-size: 19px;
    }
    .form-control{
        display: inline-block;
    }

    input[type=number]{
        step: .01;
    }

    &-heading {
        font-size: $font-size-h4;
        font-weight: bold;
        height: $navbar-height;
        line-height: $navbar-height;
        clear: both;
        border-bottom: 1px solid $gray-light;
        margin-bottom: $form-group-margin-bottom;
        &-left {
            position: relative;
            float: left;
            clear: left;
            width: 80%;
        }
        &-right {
            position: relative;
            float: right;
            clear: right;
            width: 16%;
        }
    }

    &-details {
        border-bottom: 1px solid $gray-light;
        margin-bottom: $form-group-margin-bottom;
        height: 220 - $navbar-height;
        position: relative;
        &-left {
            position: relative;
            float: left;
            clear: left;
            width: 42%;
            image {
                float: left;
            }
        }

        &-right {
            font-size: .9em;
            clear: right;
            width: 58%;
            height: 100%;
            float: right;

            #inputSmall {
                font-size: .9em;
                width: 90%;
                height: 25%;
                margin: 1%;
            }
            .col1{
                width: 22%;
                float: left;
            }
            .col2{
                width: 22%;
                float: left;
            }
            .col3{
                width: 22%;
                float: left;
            }
            .col4{
                width: 30%;
                float: left;
            }
            label {
                font-size: .8em;
            }

        }
    }

    &-checkboxes{
        bottom: 1%;
        label {
            width: 7%;
            font-size: .8em;
            margin-right: 2%;
        }
        button{
            width: 115px;
            float: right;
        }
        #save{
            bottom: 2%;
        }
        #delete{
            background-color: red;
            float: left;
            border-color: red;
        }
        #delete:hover{
            background-color: darkred;
            border-color: darkred;
        }
    }

    textarea {
        width: 52%;
        height: 113pt;
        font-size: .8em;
    }

    .address, input[type=text], input[type=number] {
        width: 22.5%;
        height: 55%;
        margin-right: 1%;
    }

    .inputSmall {
        width: 9%;
        height: 55%;
        margin-right: 1%;
    }

    .rent {
        width: 40%;
        height: 55%;
        color: #4cae4c;
    }

}

.center{
    @include centerer;
}

#form-wrapper{
    text-align: center;
}

.form-input{
    margin-bottom: 15px;
}

.required-field-block {
    position: relative;
}

.required-field-block .required-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.25em 0em;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    padding: 0.5em 0.8em;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0.325em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear;
    font-size: 75%;
}

.required-field-block .required-icon {
    background-color: transparent;
    position: absolute;
    top: 0em;
    right: 0em;
    z-index: 10;
    margin: 0em;
    width: 30px;
    height: 30px;
    padding: 0em;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
    position: absolute;
    content: "";
    right: 1px;
    top: 1px;
    z-index: -1;
    width: 0em;
    height: 0em;
    border-top: 0em solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 0em solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
    color: #B80000;
    font-size: 26px;
    margin: -3px 0 0 12px;
}
