

// Import Bootstrap Compass integration
@import "bootstrap-compass";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "bootstrap";
@import "compass/css3/border-radius";

$sfsu-purple:      #43428a;
$purple-hover:     lighten($sfsu-purple, 10%);
$theme-green:      #77b800;

@import "compass/css3/border-radius";

$sfsu-purple:      #43428a;
$purple-hover:     lighten($sfsu-purple, 10%);
$theme-green:      #77b800;

@mixin centerer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body {
	font: $font-size-base $font-family-sans-serif !important;
	color: $gray-base;
	background-color: $body-bg;
	&.home {
		background: url('../public/img/home-bg.jpg') no-repeat fixed top center;
	}
}

header {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #ffffff;
	width: 100%;
	box-shadow: 0px 1px 5px #444444;
	height: $navbar-height * 4;
	&.home {
		height: $navbar-height * 2;
	}
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $navbar-height+5;
    margin-bottom: $navbar-margin-bottom;
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
    color: $navbar-default-color;
    background: $navbar-default-bg;
    a {
        display: inline-block;
        top: 0;
        bottom: 0;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        color: #fff;
        &:hover {
            background-color: $purple-hover;
        }
    }
    #create{
        background-color: transparent;
    }
    ul {
        margin: 0;
        li {
            padding: $padding-base-vertical $padding-base-horizontal;
        }
    }
}

ul li {
	list-style-type: none;
}

.navbar-right {
	position: absolute;
	top: $font-size-base / 2;
	right: $font-size-h2;
	.btn {
		margin-right: $padding-large-horizontal;
		color: $btn-default-color;
		background: $btn-default-bg;
		border: 1px solid $btn-default-border;
		&:hover {
			color: $btn-default-bg;
			background-color: white;
			cursor: pointer;
		}
	}
}

.footer a {
	color: #454545;
}

#disclaimer {
	width: 100%;
	font-size: $font-size-h3;
	font-weight: bold;
	color: #ff0000;
	position: absolute;
	top: $navbar-height+5;
	padding: $padding-base-vertical $padding-base-horizontal;
}

#wrapper {
	width: 85%;
	top: 4em;
	margin-left: auto;
	margin-right: auto;
}

#search-wrapper {
	position: absolute;
	left: 30%;
	top: 125px;
	margin: 0 0 0 -305px;
	width: 80%;
}

#search-wrapper.home {
	left: 50%;
	top: 165px;
	margin: 0 0 0 -445px;
	width: 750px;
}

#lede {
	margin-bottom: $form-group-margin-bottom;
	h1 {
		font-size: $font-size-h1;
		color: #fff;
		text-align: center;
	}
}

#search {
	margin-left: auto;
	margin-right: auto;
	&.home {
		text-align: center;
	}
	input[type=text], select {
		padding: $font-size-large / 2;
		font-size: $font-size-large;
	}
	input[type=text] {
		width: 55%;
	}
	select {
		@include border-radius(none);
		width: 20%;
	}
	input[type=submit] {
		padding: $font-size-large / 2;
		font-size: $font-size-large;
		margin-left: $form-group-margin-bottom;

		color: $btn-default-color;
		background-color: $btn-default-bg;
		border: 2px solid $btn-default-border;
		&:hover {
			color: $btn-default-bg;
			background-color: white;
			cursor: pointer;
			border: 1px solid $btn-default-border;
		}
	}
}

#results-wrapper {
	position: absolute;
	top: $navbar-height * 5;
	width: 67%;
}

#dashboard-wrapper {
	position: absolute;
	top: $navbar-height * 5;
	width: 85%;
}

#listing-wrapper {
	position: absolute;
	left: 7%;
	top: 225px;
	height: 85%;
	width: 8%;
}

#page-title {
	font-size: 24pt;
	padding: 2%;
	height: 80px;
	position: absolute;
	text-align: center;
	top: $navbar-height*2;
	width: 100%;
}

.listing {
	display: block;
	height: $navbar-height * 5;
	position: relative;
	clear: both;
	border-bottom: 1px solid $gray-lighter;
	margin-bottom: $form-group-margin-bottom;
	width: 100%;
	background: #fff;
	padding: $padding-base-vertical $padding-base-horizontal;
	@include box-shadow(10px 10px 10px $gray-lighter);
	&-heading {
		font-size: $font-size-h3;
		font-weight: bold;
		height: $navbar-height;
		line-height: $navbar-height;
		clear: both;
		border-bottom: 1px solid $gray-light;
		margin-bottom: $form-group-margin-bottom;
		&-left {
			position: relative;
			float: left;
			clear: left;
		}
		&-right {
			position: relative;
			float: right;
			clear: right;
		}
	}

	&-details {
		position: relative;
		&-left {
			clear: left;
			float: left;
		}
		&-right {
			clear: right;
			float: left;
			margin-left: $padding-large-horizontal;
			width: 65%;
		}
	}

	.rent {
		color: #4cae4c;
	}
}

.add-listing {
    font-size: 12pt;
    display: block;
    height: $navbar-height * 17;
    position: relative;
    clear: both;
    top: $navbar-height * 4;
    border-bottom: 1px solid $gray-lighter;
    margin: 1% 3% 3%;
    padding: 3% 3% 3% 5%;
    width: 94%;
    background: white;
    @include box-shadow(10px 10px 10px $gray-lighter);

    textarea {
        width: 97%;
    }

    label {
        width: 10.3%;
    }

    .input-group{
        min-width: 10em;
    }

    input[type="date"] {
        margin-right: 3.2%;
    }

    #dates {
        width: 7.6%;
    }

    text {
        display: inline-block;
        width: 24.6%;
        color: green;
        visibility: hidden;
    }

    .form-group {
        display: inline-block;
        width: 21.4%;
        margin-right: 3.3%;
        font-size: 12pt;
    }

}
.edit-listing {
    font-size: 100%;
    display: block;
    height: $navbar-height * 7;
    position: relative;
    clear: both;
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: $form-group-margin-bottom;
    width: 100%;
    background: #fff;
    padding: $padding-base-vertical $padding-base-horizontal;
    @include box-shadow(10px 10px 10px $gray-lighter);

    
    .form-control {
        display: inline-block;
    }

    input[type=number] {
        step: .01;
    }

    &-heading {
        font-weight: bold;
        height: $navbar-height;
        line-height: $navbar-height;
        clear: both;
        border-bottom: 1px solid $gray-light;
        margin-bottom: $form-group-margin-bottom;
        &-left {
            position: relative;
            float: left;
            clear: left;
            width: 80%;
        }
        &-right {
            position: relative;
            float: right;
            clear: right;
            width: 16%;
        }
    }
    &-details {
        border-bottom: 1px solid $gray-light;
        margin-bottom: $form-group-margin-bottom;
        height: 255 - $navbar-height;
        position: relative;
        &-left {
            position: relative;
            float: left;
            clear: left;
            width: 42%;
            height: 75%;
            image rent{
                float: left;
            }
        }

        &-right {
            clear: right;
            width: 58%;
            height: 60%;
            float: right;

            #inputSmall {
                width: 90%;
                height: 25%;
                margin: 1%;
            }
            .col1 {
                width: 14%;
                float: left;
            }
            .col2 {
                width: 14%;
                float: left;
            }
            .col3 {
                width: 14%;
                float: left;
            }
            .col4 {
                width: 23%;
                float: left;
            }
            .col5 {
                width: 14%;
                float: left;
                
            }
            .col6 {
                width: 14%;
                float: left;
                label {
                    margin-right: 2%;
                }
            }
        }
    }
    &-buttons {
        margin-bottom: $form-group-margin-bottom;
        position: relative;    
        bottom: 1%;
        float: right;
        width: 100%;
        height: 40px;
        label {
            width: 7%;
            margin-right: 2%;
        }
    }
    button {
        width: 115px;
        float: right;
    }
    #save {
        bottom: 2%;
        margin-right: 2%;
    }
    #delete {
        background-color: red;
        border-color: red;
    }
    #delete:hover {
        background-color: darkred;
        border-color: darkred;
    }
    
    
    textarea {
        width: 52%;
        float: right;
        margin-right: 8%;
        height: 113pt;
    }
    
    .address, input[type=text], input[type=number] {
        width: 22.5%;
        height: 55%;
        margin-right: 1%;
    }
    
    .inputSmall {
        width: 9%;
        height: 55%;
        margin-right: 1%;
    }

    .rent {
        width: 9%;
        height: 55%;
        color: #4cae4c;
    }
    &-none{
        height: $navbar-height * 3;
        &-heading{
            font-weight: bold;
            font-size: 170%;
            text-align: center;
            height: $navbar-height;
            line-height: $navbar-height;
            clear: both;
            border-bottom: 1px solid $gray-light;
            margin-bottom: $form-group-margin-bottom;        
        }
    }
}

.center {
	@include centerer;
}

#form-wrapper {
	text-align: center;
}

.form-input {
	margin-bottom: 15px;
}

.required-field-block {
	position: relative;
}

.required-field-block .required-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.25em 0em;
    background-color: $gray-lighter;
    border-color: $gray-lighter;
    padding: 0.5em 0.8em;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0.325em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear;
    font-size: 75%;
}

.required-field-block .required-icon {
	background-color: transparent;
	position: absolute;
	top: 0em;
	right: 0em;
	z-index: 10;
	margin: 0em;
	width: 30px;
	height: 30px;
	padding: 0em;
	text-align: center;
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
	position: absolute;
	content: "";
	right: 1px;
	top: 1px;
	z-index: -1;
	width: 0em;
	height: 0em;
	border-top: 0em solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 0em solid transparent;
	border-right-color: inherit;
	-webkit-transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
	color: #B80000;
	font-size: 26px;
	margin: -3px 0 0 12px;
}

.bottom-right {
	position: absolute;
	bottom: 5%;
	left: 85%;
	transform: translate(-50%, -50%);
}

.invalid-input {
    border: 2px solid #d80000;
}

#query-error, #room-error {
    color: #d80000;
    text-align: center;
    margin-bottom: $navbar-height;
    h4 {
        font-size: $font-size-h4 !important;
    }
}

.hidden {
    display: none;
}

.modal.contact {
    .address {
        text-align: left;
        font-weight: bold;
        font-size: $font-size-h4;
        margin-bottom: 15px;
    }
    .rental-details {
        text-align: left;
        margin-bottom: 35px;
        font-size: $font-size-base;
    }
}
.messages {
    display: block;
    height: $navbar-height * 3;
    position: relative;
    clear: both;
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: $form-group-margin-bottom;
    width: 100%;
    background: #fff;
    padding: $padding-base-vertical $padding-base-horizontal;
    @include box-shadow(10px 10px 10px $gray-lighter);
    input[type="submit"]{
        margin-left: 10%;
        margin-bottom: 0px;
    }
    &-heading {
        font-size: $font-size-h3;
        font-weight: bold;
        height: $navbar-height;
        line-height: $navbar-height;
        clear: both;
        border-bottom: 1px solid $gray-light;
        margin-bottom: $form-group-margin-bottom;
        &-left {
            position: relative;
            float: left;
            clear: left;
        }
        &-right {
            position: relative;
            float: right;
            clear: right;
        }
        &-center {
            position: relative;
            text-align: center;
        }
    }

    &-details {
        position: relative;
        &-left {
            clear: left;
            float: left;
        }
        &-right {
            clear: right;
            float: left;
            margin-left: $padding-large-horizontal;
            width: 65%;
        }
    }

    button {
        width: 80px;
        margin-top: 20px;
        float: right;
    }
    #delete {
        background-color: red;
        border-color: red;
        width: 7%;
    }
    #delete:hover {
        background-color: darkred;
        border-color: darkred;
    }
    #reply {
        margin-left: 0px;
        width: 7%;
    }
}
.detail-listing{
    
	font-size: 1.4em;
	display: block;
	bottom: auto;
	position: relative;
	top: $navbar-height * 5;
	padding: 3% 3% 3% 5%;
	width: 94%;
	background: white;
	margin: 1% 3% 3%;
	@include box-shadow(10px 10px 10px $gray-lighter);
    
	.address {
		font-weight: bold;

	}
	
	.rent {
		color: #4cae4c;
	}
	
	.picture {
		margin: 2%;
	}
	
	.description {
		margin-top: 4%;
	}
}

#return-button {
	font-size: 24pt;
	padding: 2%;
	height: 80px;
	position: absolute;
	top: $navbar-height*2;
	width: 100%;
}

#map {
        height: 400px;
        width: 50%;
}

.account {
    padding-top: 10%;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
    font-size: 120%;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}

.username{
    p{
        font-style: normal;
        font-size: 90%;
    }
}

.create{
    margin-bottom: 25px;
    a:hover{
        color: none;
    }
}

#modalTrigger{
    display: none;
}

#center{
    text-align: center;
}
#imgMaxSize{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 0px;
}

.reply-details-left {
    clear: left;
    float: left;
    margin-left: 3%;
    height: 150px;
    width: 150px;
}
